Seit vielen Jahrzenten haben Datenbanken einen großen Stellenwert in der Software-Entwicklung und dieser dürfte in Zukunft dank Big Data eher noch steigen. Dabei ist eine Datenbank "eine logisch zusammenhängende Sammlung von Daten" <%= source("Cushman, Mata-Toledo 2003", "https://books.google.de/books/about/Relationale_Datenbanken.html?id=MLPsAAAACAAJ") %>. Sie sollte folgende Eigenschaften erfüllen: <%= source("Steiner 2017", "https://www.springer.com/de/book/9783658042875") %>

* Die Struktur sollte überschaubar sein, um redundante Speicherung von Daten zu ermöglichen
* Die Reorganisation innerhalb des Systems sollte möglich sein
* Die Datenbank sollte so flexibel sein, dass auch für bestehende Daten neue Anwendungen entwickelt werden können.

Schon früh haben sich Normalisierungen herausgebildet, die heutzutage größtenteils als einheitlicher Standard bezeichnet werden können. Dabei wird eine Relation schrittweise ersetzt, sodass sie eine einfachere und geordnetere Struktur aufweist, ohne dass Informationen verloren gehen.<%= source("Cushman, Mata-Toledo 2003", "https://books.google.de/books/about/Relationale_Datenbanken.html?id=MLPsAAAACAAJ") %>

Von den insgesamt fünf Normalisierungen sollen die ersten drei in den folgenden Seiten vorgestellt werden. Die vierte und fünfte Normalisierung existieren häufig nur in der Theorie; ihr praktischer Mehrwert ist umstritten. Deshalb spricht man auch schon von "normalisierten" Relationen, wenn sich die Daten in der dritten Normalform befinden.<%= source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376") %>
