h3.table-header
  margin-bottom: 0.5rem
  color: $grey
  font-size: 1.2rem


table
  margin-bottom: 30px
  font-size: .8rem

th.success,
td.success
  @extend .green
  @extend .lighten-4

th.warning,
td.warning
  @extend .red
  @extend .lighten-4

th.notice,
td.notice
  @extend .teal
  @extend .lighten-4

th.primary
  text-decoration: underline
