html, body
  font-size: 13px
  width: 210mm
  height: 297mm

.close-print
  display: block
  padding: 50px
  font-size: 2rem
  text-align: center

a.tooltipped
  display: none

a.chapter
  display: none !important

.card.teal.lighten-1
  border: 1px solid rgba(0, 0, 0, 0.55)
  background: none !important
  color: black !important

  .card-title
    font-size: 20px

  .card-content
    padding: 5px

h1, h2, h3, h4, thead
  page-break-after: avoid

table, .definition
  page-break-inside: avoid

@media print
  .close-print
    display: none
