//= require 'reveal/_main'
//= require 'reveal/_white'

html, body
  font-family: "Source Sans Pro", Helvetica, sans-serif

.reveal-header
  position: absolute
  top: 0px
  left: 0px
  right: 0px
  padding: 15px
  border-bottom: 1px solid rgba(0, 0, 0, 0.55)
  color: rgba(0, 0, 0, 0.55)
  font-size: 1.5rem

.reveal-footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 15px
  color: rgba(0, 0, 0, 0.55)

.reveal
  table
    td.success
      background: #C8E6C9

    td.warning
      background: #FFCDD2

    td.notice
      background: #b2dfdb

  .card
    background: #26a69a
    color: #fff
    border: 3px solid black
    padding: 20px
    text-align: left

  .card-title
    display: block
    text-align: left
    font-weight: bold

  h3
    margin-top: 45px
