%ul.navigation
  %li
    %a{href: 'index.html'} Startseite
  %li
    %a{href: 'introduction.html'} Einführung
  %li
    %a{href: '1nf.html'} Erste Normalform
  %li
    %a{href: 'keys_and_dependencies.html'} Definitionen
  %li
    %a{href: '2nf.html'} Zweite Normalform
  %li
    %a{href: '3nf.html'} Dritte Normalform
  %li
    %a{href: 'synthesis.html'} Syntheseverfahren
  %li
    %a{href: 'summary.html'} Zusammenfassung
  %li
    %a{href: 'quiz.html'} Quiz

%ul.navigation.close
  %li
    %a{href: 'print.html', target: '_blank'}
      %i.tiny.material-icons print
      Druckversion
  %li
    %a{href: 'slides.html', target: '_blank'}
      %i.tiny.material-icons aspect_ratio
      Folienversion
