<%= table("3nf_cars") %>
<%= table("3nf_customers") %>

An dieser Stelle sei angemerkt, dass die Tabellen mit Informationen über Mechaniker und Kunden in der Praxis deutlich größer ausfallen würden, an dieser Stelle wurde im Sinne der Übersichtlichkeit lediglich der Nachname angeführt.
