%h3.table-header Tabelle: Aufträge
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary.notice Datum
      %th.primary.notice Kennzeichen
      %th Automarke
      %th Modell
      %th KdNr.
      %th Kunde
      %th MNr.
      %th Mechaniker
      %th.primary.notice DNr.
      %th Dienstleistungen
      %th Beendet
  %tbody
    %tr
      %td 16.3.2018
      %td MK:KI 163
      %td Volvo
      %td 850
      %td K101
      %td Kiwits
      %td M01
      %td Meinecke
      %td D801
      %td Scheinwerfer reparieren
      %td Ja
    %tr
      %td 16.3.2018
      %td MK:KI 163
      %td Volvo
      %td 850
      %td K101
      %td Kiwits
      %td M01
      %td Meinecke
      %td D401
      %td Bremsen kontrollieren
      %td Ja
    %tr
      %td 4.5.2018
      %td MS:KU 458
      %td Ford
      %td Mondeo
      %td K102
      %td Kurze
      %td M02
      %td Münz
      %td D106
      %td Ausbeulen
      %td Ja
    %tr
      %td 5.5.2018
      %td DO:KL 558
      %td VW
      %td Golf
      %td K103
      %td Klein
      %td M02
      %td Münz
      %td D408
      %td Batterie wechseln
      %td Nein
    %tr
      %td 8.6.2018
      %td MK:KI 163
      %td Volvo
      %td 750
      %td K101
      %td Kiwits
      %td M03
      %td Maler
      %td D402
      %td Bremsen erneuern
      %td Nein
    %tr
      %td 9.6.2018
      %td MK:KL 96
      %td Opel
      %td Astra
      %td K103
      %td Klein
      %td M03
      %td Maler
      %td D002
      %td Ölwechsel
      %td Nein
