%h3.table-header Tabelle: Mechaniker
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary MNr.
      %th Mechaniker
  %tbody
    %tr
      %td.notice M02
      %td Münz
    %tr
      %td M03
      %td Maler
