%h3.table-header Tabelle: Aufträge
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Datum
      %th.primary Kennzeichen
      %th MNr.
      %th.primary DNr.
      %th Beendet
  %tbody
    %tr
      %td 4.5.2018
      %td MS:KU 458
      %td.notice M02
      %td D106
      %td Ja
    %tr
      %td 5.5.2018
      %td DO:KL 558
      %td.notice M02
      %td D408
      %td Nein
    %tr
      %td 8.6.2018
      %td MK:KI 163
      %td M03
      %td D402
      %td Nein
