%h3.table-header Tabelle: Alter des Kunden
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Datum
      %th KdNr.
      %th Kd. Alter
  %tbody
    %tr
      %td 16.3.2018
      %td K101
      %td 32
    %tr
      %td 4.5.2018
      %td K102
      %td 24
    %tr
      %td 8.6.2018
      %td K101
      %td 33
