%h3.table-header Tabelle: Aufträge
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Datum
      %th.primary Kennzeichen
      %th Kd. Alter
      %th MNr.
  %tbody
    %tr
      %td 16.3.2018
      %td MK:KI 163
      %td 32
      %td M01
    %tr
      %td 4.5.2018
      %td MS:KU 458
      %td 24
      %td M02
    %tr
      %td 8.6.2018
      %td MK:KI 163
      %td 33
      %td M03
