## Definitionen

<%= definition("Erste Normalform", "Eine Tabelle befindet sich in der 1. Normalform (1NF), wenn alle Attribute nur einfache Attributwerte aufweisen, wobei auch Nullwerte zulässig sind.") %>

<%= definition("Zweite Normalform", "Eine Tabelle befindet sich in zweiter Normalform (2NF), wenn sie sich in erster Normalform befindet und jedes Nichtschlüsselattribut voll funktional von existierenden Schlüsselkandidaten abhängig ist.") %>

<%= definition("Dritte Normalform", "Eine Tabelle befindet sich in dritter Normalform (3NF), wenn sie sich in zweiter Normalform befindet und kein Nichtschlüsselattribut transitiv abhängig ist von existierenden Schlüsselkandidaten.") %>
