Werfen wir noch einmal einen Blick auf unsere Tabelle:

<%= table("1nf_problems") %>

Hier kann man einige Attribute erkennen, bei denen das nicht der Fall ist:

- Das Modell ist nicht vollfunktional abhängig vom Primärschlüssel, da es schon funktional abhängig vom Kennzeichen ist.
- Die Dienstleistung ist ebenfalls nicht voll funktional abhängig, da sie bereits funktional abhängig von der D-Nr. ist.
