## Überführung in die 2NF

Um die Relation in die 2NF zu überführen, sind folgende Schritte notwendig: Für jedes Attribut A des Schlüssels, von dem Nichtschlüsselattribute N funktional abhängig sind, wird eine eigene Tabelle erstellt. In dieser neuen Tabelle ist A der Primärschlüssel.<%= source("Elmasri, Navathe 2009", "https://www.pearson-studium.de/grundlagen-von-datenbanksystemen.html") %>

In unserem Beispiel besteht der Primärschlüssel aus drei Attributen:

- Für das Datum existieren keine funktionalen Abhängigkeiten.
- Für das Kennzeichen existieren die folgenden funktionalen Abhängigkeiten: Automarke, Modell, Kd-Nr., Kunde
- Die Dienstleistung ist außerdem funktional abhängig von der D-Nr.

Das bedeutet, dass zwei neue Tabellen erstellt werden müssen. Die Nichtschlüsselattribute, die in die neue Tabelle überführt werden, werden aus der bestehenden Tabelle entfernt.
