<%= table("2nf_services") %>

Duplikate werden in den neu erstellten Tabellen selbstverständlich entfernt.

Diese Relation befindet sich nun in der zweiten Normalform.

In manchen Fällen kann es vorkommen, dass durch diesen Schritt Abhängigkeiten verloren gehen. Nähere Informationen dazu finden Sie beim <%= link_to 'Syntheseverfahren', '/synthesis.html' %>.
