## Funktionale und transitive Abhängigkeit

Zur Überprüfung der zweiten und dritten Normalform untersucht man die Abhängigkeiten der Werte zueinander.

<%= definition("Funktionale Abhängigkeit", "Eine Attributmenge A ist funktional abhängig von einer Attributmenge B, wenn jedem Wert von B genau ein Wert von A zugeordnet werden kann." + source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376") + source("Steiner 2017", "https://www.springer.com/de/book/9783658042875")) %>

Folgende Beispiele für funktionale Abhängigkeiten sind in der Tabelle zu finden:

- Der Kunde ist funktional abhängig vom Kennzeichen.
- Die Dienstleistung ist funktional abhängig von der D-Nr.
- Das Modell ist funktional abhängig von der Automarke.
- Der Mechaniker ist funktional abhängig von Datum und Kennzeichen.
- Der Mechaniker ist funktional abhängig von Datum, Kennzeichen und Automarke.

<%= definition("Vollfunktionale Abhängigkeit", "Eine Attributmenge A ist vollfunktional abhängig von eine Attributmenge B, wenn A funktional abhängig ist von B, jedoch nicht von einer Teilmenge von B." + source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376")) %>

Wir hatten bereits festgestellt, dass der Mechaniker funktional abhängig ist von Datum, Kennzeichen und Automarke. Jedoch ist diese Abhängigkeit nicht vollfunktional, weil eine Teilmenge existiert von der der Mechaniker abhängig ist – nämlich Datum und Kennzeichen. Von dieser Menge wiederum könnte man kein Attribut entfernen, ohne die funktionale Abhängigkeit zu verlieren. Somit gilt: Der Mechaniker ist vollfunktional abhängig von Datum und Kennzeichen.
Mit diesen Definitionen schreiten wir nun weiter zur zweiten Normalform.
