Hat man alle Schlüsselkandidaten identifiziert, liegt es an der Person, welche die Datenbank normalisiert, sich für einen Primärschlüssel zu entscheiden. Dies kann nach subjektiven Kriterien geschehen, allerdings sollte man einen möglichst kleinen Schlüssel wählen, dessen Attribute sich möglichst nicht mehr ändern sollten.<%= source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376") %>

<%= definition("Primärschlüssel", "Der Primärschlüssel einer Tabelle ist ein beliebig gewählter Schlüsselkandidat." + source("Vossen 2000", "https://books.google.de/books?id=iNT_K7SBzVIC")) %>

In diesem Fall entscheiden wir uns für die Kombination Datum, Kennzeichen und D-Nr. Die Überschriften aller Attribute, die Teil des Primärschlüssels sind, werden in der Regel unterstrichen dargestellt.<%= source("Elmasri, Navathe 2009", "https://www.pearson-studium.de/grundlagen-von-datenbanksystemen.html") %>

<%= table("1nf_keys") %>

Attribute, die zu keinem Schlüsselkandidaten gehören, werden auch Nichtschlüsselattribute genannt.<%= source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376") %>
