---
title: Erste Normalform
---
%section
  %article
    %h1 Erste Normalform
    = partial "content/1nf/target"
    = partial "content/1nf/definition"
    = partial "content/1nf/transfer"
    = chapter("Schlüssel und Abhängigkeiten", "keys_and_dependencies")
