---
title: Zweite Normalform
---
%section
  %article
    %h1 Zweite Normalform
    = partial "content/2nf/definition"
    = partial "content/2nf/example"
    = partial "content/2nf/transfer1"
    = partial "content/2nf/transfer2"
    = partial "content/2nf/transfer3"
    = chapter("Dritte Normalform", "3nf")
