---
title: Dritte Normalform
---
%section
  %article
    %h1 Dritte Normalform
    = partial "content/3nf/definition"
    = partial "content/3nf/example"
    = partial "content/3nf/transfer1"
    = partial "content/3nf/transfer2"
    = chapter("Syntheseverfahren", "synthesis.html")
