---
title: Einführung
---
%section
  %article
    %h1 Einführung in die Datenbanknormalisierung
    = partial "content/welcome/welcome"
    = partial "content/welcome/about"
    = chapter("Was ist Normalisierung?", "introduction")
