---
title: Schlüssel und Abhängigkeiten
---
%section
  %article
    %h1 Schlüssel und Abhängigkeiten
    = partial "content/keys_and_dependencies/introduction"
    = partial "content/keys_and_dependencies/keys1"
    = partial "content/keys_and_dependencies/keys2"
    = partial "content/keys_and_dependencies/keys3"
    = partial "content/keys_and_dependencies/dependencies"
    = chapter("Zweite Normalform", "2nf")
