---
layout: slides
---

%section
  %section
    %h1 Einführung in die Datenbanknormalisierung
    = partial 'content/introduction/target'
  %section
    = partial 'content/introduction/example'
  %section
    = partial 'content/introduction/problems'

%section
  %section
    %h1 Erste Normalform
    = partial 'content/1nf/target'
  %section
    = partial 'content/1nf/definition'
  %section
    = partial 'content/1nf/transfer'

%section
  %section
    %h1 Schlüssel und Abhängigkeiten
    = partial 'content/keys_and_dependencies/introduction'
  %section
    = partial 'content/keys_and_dependencies/keys1'
  %section
    = partial 'content/keys_and_dependencies/keys2'
  %section
    = partial 'content/keys_and_dependencies/keys3'
  %section
    = partial 'content/keys_and_dependencies/dependencies'

%section
  %section
    %h1 Zweite Normalform
    = partial 'content/2nf/definition'
  %section
    = partial 'content/2nf/example'
  %section
    = partial 'content/2nf/transfer1'
  %section
    = partial 'content/2nf/transfer2'
  %section
    = partial 'content/2nf/transfer3'

%section
  %section
    %h1 Dritte Normalform
    = partial 'content/3nf/definition'
  %section
    = partial 'content/3nf/example'
  %section
    = partial 'content/3nf/transfer1'
  %section
    = partial 'content/3nf/transfer2'

%section
  %section
    %h1 Syntheseverfahren
    = partial "content/synthesis/introduction"
  %section
    = partial "content/synthesis/example"
  %section
    = partial "content/synthesis/2nf"
  %section
    = partial "content/synthesis/problems"
  %section
    = partial "content/synthesis/alternative1"
  %section
    = partial "content/synthesis/alternative2"

%section
  %section
    %h1 Zusammenfassung
    = partial 'content/summary/normalization'
  %section
    = partial 'content/summary/definitions'
