<%= definition("Erste Normalform", "„Eine Tabelle befindet sich in der 1. Normalform (1NF), wenn alle Attribute nur einfache Attributwerte aufweisen, wobei auch Nullwerte zulässig sind.“" + source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376")) %>

Einfache Attributwerte können sein: Ein Text, eine Zahl, ein Datum, ein Boolean. <%= source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376") %> Mit einem Nullwert ist lediglich gemeint, dass ein Feld leer ist, also keinen Wert enthält.
