Ziel der ersten Normalform ist es, nur zugelassene Datentypen in einzelnen Feldern zu speichern. Dies verhindert in erster Linie, dass keine Listen mehr in einzelnen Feldern vorhanden sind, wie es in unserer Beispieltabelle in der Spalte für Aufträge der Fall gewesen ist.

<%= table('raw_row1') %>
