## Überführung in die 1NF

Um die Beispieltabelle in die 1NF zu überführen, betrachtet man die Felder, die Aufzählungen enthalten. Für jeden dieser Werte wird eine eigene Zeile der Tabelle erstellt. Ebenso kann es vorkommen, dass man einen Wert in zwei unterteilen kann. In unserem Beispiel ist ein Kürzel für die Dienstleistungen zusammen mit der Formulierung vorhanden. Diese werden in zwei Attribute unterteilt. Ein weiteres häufig auftretendes Beispiel ist es, ein gemeinsames Attribut für Vor- und Nachnamen zu nutzen. Im Sinne der 1NF sollte man diese separieren.<%= source("Elmasri, Navathe 2009", "https://www.pearson-studium.de/grundlagen-von-datenbanksystemen.html") %>

<%= table('1nf_row1') %>
